body{
    background-image: url(img/bg.png);
    text-align: center;
}

#wrapper{
    position: absolute;
    left:50%;
    top: 50%;
    transform:  translate(-50%, -50%);
}

/*----------------------------------------------------------------- STATION 3-----------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------*/


.star_one{
    position: absolute;
    bottom: 15%;
    left: 10%;

}

.star_one:hover{
    background-image: url(img/stern_hover.png);
}


.star_two{
    position: absolute;
    top: 40%;
    left: 25%;
}

.star_two:hover{
    background-image: url(img/stern_hover.png);
}

.star_three{
    position: absolute;
    bottom: 20%;
    right: 40%;

}

.star_three:hover{
    background-image: url(img/stern_hover.png);
}
.star_four{
    position: absolute;
    top: 40%;
    right: 20%;

}
.star_four:hover{
    background-image: url(img/stern_hover.png);
}

h1{
    position: absolute;
    top: 10%;
    left: 10%;
    text-align: left;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    line-height: 40px;
}