body{
    background-image: url(img/bg.png);
    text-align: center;
}

#wrapper{
    position: absolute;
    left:50%;
    top: 50%;
    transform:  translate(-50%, -50%);
}

/*----------------------------------------------------------------- STATION 7-----------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------*/


h1{
    position: absolute;
    top: 40%;
    left: 7%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: white;
}

p{
    position: absolute;
    bottom: 20%;
    left: 7%;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 30px;
    color: white;
}

.sterneins{
    position: absolute;
    top: 30%;
    left:18%;
}

.sternzwei{
    position: absolute;
    top: 15%;
    left:35%;
}

.sterndrei{
    position: absolute;
    top: 30%;
    right:40%;
}

video{
    position: absolute;
    right: 4%;
    bottom: 7%;
}

.gift{
    position: absolute;
    bottom: -5%;
    right: 0;
}

.plant{
    position: absolute;
    top: -15%;
    left: -12%;
}