body{
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#wrapper{
    width: 800px;
    height: 580px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#gegner{
    width: 798px;
    height: 150px;
    border: 2px solid white;
}

#ablagestapel{
    width: 100px;
    height: 150px;
    border: 2px solid white;
    position: absolute;
    top: 190px;
    left: 280px;
}

#kartenstapel{
    width: 100px;
    height: 150px;
    border: 2px solid white;
    position: absolute;
    top: 190px;
    left: 470px;
}

#spieler{
    width: 798px;
    height: 150px;
    border: 2px solid white;
    position: absolute;
    top: 380px;
}

footer{
    position: absolute;
    bottom: 15px;
    width: 798px;
    height: 40px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


/*---------Farben----------*/

.rot{
    width: 90px;
    height: 85px;
    margin-right: 5px;
    margin-top: 5px;
    background: radial-gradient(#585858, #000000);
    border: 3px solid #d81717;
    margin-left: 2px;
    border-radius: 10px;
    color: #d81717;
    display: inline-block;
    padding-top: 45px;
    text-align: center;
    font-size: 30px;
}

.gelb{
    width: 90px;
    height: 85px;
    margin-right: 5px;
    margin-top: 5px;
    background: radial-gradient(#585858, #000000);
    border: 3px solid #f3d737;
    margin-left: 2px;
    border-radius: 10px;
    color: #f3d737;
    display: inline-block;
    padding-top: 45px;
    text-align: center;
    font-size: 30px;
}

.grün{
    width: 90px;
    height: 85px;
    margin-right: 5px;
    margin-top: 5px;
    background: radial-gradient(#585858, #000000);
    border: 3px solid #45b31a;
    margin-left: 2px;
    border-radius: 10px;
    color: #45b31a;
    display: inline-block;
    padding-top: 45px;
    text-align: center;
    font-size: 30px;
}

.blau{
    width: 90px;
    height: 85px;
    margin-right: 5px;
    margin-top: 5px;
    background: radial-gradient(#585858, #000000);
    border: 3px solid #5661fd;
    margin-left: 2px;
    border-radius: 10px;
    color: #5661fd;
    display: inline-block;
    padding-top: 45px;
    text-align: center;
    font-size: 30px;
}


.backcard{
    width: 90px;
    height: 130px;
    margin-right: 5px;
    margin-top: 5px;
    background-image: url(img/backcard.png);
    margin-left: 2px;
    border-radius: 10px;
    display: inline-block;
}