body{
    background-image: url(img/bg.png);
    text-align: center;
}

#wrapper{
    /*margin: 0 auto;
    position: relative;
    margin-top: 10.5%;*/
    position: absolute;
    left:50%;
    top: 50%;
    transform:  translate(-50%, -50%);
}

/*----------------------------------------------------------------- STATION 1-----------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------*/

.pinguin{
    position: absolute;
    bottom: -5%;
    right: -5%;
}

.busch{
    position: absolute;
    top: -15%;
    left: -10%;
}

h1{
    position: absolute;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    top: 15%;
    left: 13%;
}

p{
    position: absolute;
    top: 45%;
    left: 13%;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 18px;
    line-height: 35px;
}