body{
    background-image: url("img/bg.png");
    width: 800px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}



/*------Navigationsleiste------*/

nav{
    position: fixed;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 0px 0px 7px 7px;
}

li{
    float: left;
    background-color: #333333;
}

a{
    display: block;
    padding: 10px;
    color:  white;
    text-decoration: none;
}


a:visited{
    color: white;
}

a:hover{
    background-color:#000000;
    color: #d6ebad;
}

a:active{
    background-color: dimgrey;
    color:white;
}

a.currentlink{
    background-color: grey;
    color: ivory;
    font-weight: bold;
}


/*------Bildergalerie------*/

h2{
    color: white;
    text-align: left;
    padding-left: 70px;
}
.fotosection{   
    background-color:#595959;
    text-align: center;
    height: 400px;
    padding-top: 10px;
}

a.pictures{
    display: initial;
}
a.pictures:hover{
    background-color: transparent;
}

.videosection{   
    background-color:#333333;
    text-align: center;
    height: 300px;
    margin-top: 4px;
    padding-top: 10px;
}


/*------About Me--------*/

h4{
    color:#d6ebad;
    padding-top: 40px;
    margin: 0px 0px 0px 40px;
}

.aboutmesection{
    background-color: #404040;
    width: 800px;
    height: 500px;
}

.aboutme{
    color: white;
    text-align: justify;
    width: 400px;
    float: left;
    margin: 30px 0px 0px 40px;
}

img.portrait{
    margin: 30px 0px 0px 60px;
    border: 5px solid white;
}



/*-----Contact-----*/

.contact{
    height: 150px;
    padding-top: 20px;
    text-align: center;
}

h1{
    color:#333333;
}

a.facebook{
    display: initial;
}

a.facebook:hover{
    background-color: transparent;
    opacity: 0.6;
}

a.instagram{
    display: initial;
}

a.instagram:hover{
    background-color: transparent;
    opacity: 0.6;
}

.h2-contact{
    padding-left: 0px;
    color: white;
}

.formular{
    margin-top: 4px;
    background-color: #000000;
    height: 350px;
    padding: 10px 0px 0px 50px;
}

form{
    width: 490px;
}

input{
    width: 270px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: white;
    background-color: darkgray;
    padding-left: 20px;
    margin-bottom: 5px;
    border: 1px solid white;
}

textarea{
    width: 370px;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-left: 20px;
    padding-top: 5px;
    background-color: darkgray;
    border: 1px solid white;
}

.datenschutz{
    color: white;
    font-size: 12px;
}

.input-button{
    width: 100px;
    padding-left: 0;
} 

.input-button:hover{
    color: #333333;
}

::placeholder{
    color: white;
}




