body{
    background-image: url("img/bg.png");
    width: 800px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    padding-top: 38px;
}

/*------Navigationsleiste------*/

nav{
    position: fixed;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 800px;
    overflow: hidden;
    border-radius: 5px;

}

li{
    float: left;
    background-color: #333333;
}

a{
    display: block;
    padding: 10px;
    color:  white;
    text-decoration: none;
}


a:visited{
    color: white;
}

a:hover{
    background-color:#000000;
    color: #d6ebad;
}

a:active{
    background-color: dimgrey;
    color:white;
}

a.currentlink{
    background-color: grey;
    color: #000000;
    font-weight: bold;
}


/*------Bildergalerie------*/

a.pictures{
    display: initial;
}
a.pictures:hover{
    background-color: transparent;
}